@page
@model MB.Presentation.AspNetCoreRazorPages.Areas.Administrator.Pages.ArticleCategoryManagement.IndexModel
@{
    ViewData["Title"] = "Article Category Management";
}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">Categories</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="bg-white">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
                <li class="breadcrumb-item"><a class="fw-light" asp-area="Administrator" asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item active fw-light" aria-current="page">Categories</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Table -->
<section class="tables">
    <div class="container-fluid">
        <div class="row gy-4">

            <div class="col-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <div class="card-close">
                            <a asp-area="Administrator" asp-page="./Create" class="btn btn-primary">New Category</a>
                        </div>
                        <h3 class="h4 mb-0">Article Categories</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Date Modified</th>
                                        <th>Status</th>
                                        <th>Orders</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var articleCategory in Model.ArticleCategories)
                                    {
                                        <tr>
                                            <th>@articleCategory.Id</th>
                                            <td>@articleCategory.Title</td>
                                            <td>@articleCategory.CreationDate</td>
                                            <td>
                                                @if (articleCategory.IsDeleted == false)
                                                {
                                                    <i class="fa fa-check-circle text-success"></i>
                                                    <span>Active</span>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-window-close text-danger"></i>
                                                    <span>Inactive</span>
                                                }
                                            </td>
                                            <td>
                                                <a asp-area="Administrator" asp-page="#" asp-route-id="@articleCategory.Id" class="btn btn-warning">Edit</a>
                                                <a asp-area="Administrator" asp-page="#" asp-route-id="@articleCategory.Id" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
